# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('../WeatherPy/weather_data.csv')
weather_df.head()

,city,cloudiness,date,country,humidity,lat,lng,max_temp,wind_speed
0,samarai,88,1970-01-01,PG,57,-10.62,150.67,83.46,4.41
1,sangar,99,1970-01-01,RU,94,63.92,127.47,32.23,6.51
2,ushuaia,40,1970-01-01,AR,75,-54.80,-68.30,41.00,20.80
3,rikitea,49,1970-01-01,PF,73,-23.12,-134.97,78.06,4.88
4,eyl,29,1970-01-01,SO,70,7.98,49.82,83.01,8.61

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations, humidity in humidity
locations = weather_df[["lat", "lng"]]
humidity = weather_df["humidity"] 


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
narrowed_city_df = weather_df.loc[(weather_df['max_temp']>65) & (weather_df['max_temp']>70) 
                               & (weather_df['cloudiness']<25) & (weather_df['humidity']<80)].dropna()

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = narrowed_city_df.copy() #not only including city, country, lat , long bc things get unnecessarily hard later
hotel_df.head()

,city,cloudiness,date,country,humidity,lat,lng,max_temp,wind_speed
18,georgetown,20,1970-01-01,MY,79,5.41,100.34,86.00,5.82
24,sagua de tanamo,2,1970-01-01,CU,66,20.58,-75.24,76.78,4.61
47,karratha,0,1970-01-01,AU,39,-20.74,116.85,84.79,14.76
64,palu,6,1970-01-01,ID,65,-0.89,119.87,79.99,1.43
75,bosaso,8,1970-01-01,SO,68,11.28,49.18,82.22,7.52

In [6]:
hotels = []
for row in hotel_df.iterrows():
    city = row[1][0]
    target_search = "hotel"
    dc_coords = str(row[1][5]) + "," + str(row[1][6])
    radius = 5000
    # redefine params
    params = {
        "location": dc_coords,
        "keyword": target_search,
        "radius": radius,
        "key": g_key
    }
    # Build URL using the Google Maps API
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Run request
    nearby_hotels = requests.get(base_url, params).json()
    if len(nearby_hotels["results"]) == 0:
        print(f"No hotels within 5000 meters of {city}")
        hotels.append("NA")
        continue
    else:
        hotels.append(nearby_hotels["results"][0]["name"])

No hotels within 5000 meters of sagua de tanamo
No hotels within 5000 meters of hobyo
No hotels within 5000 meters of mandalgarh
No hotels within 5000 meters of marzuq
No hotels within 5000 meters of thinadhoo
No hotels within 5000 meters of ewa beach
No hotels within 5000 meters of chumphon
No hotels within 5000 meters of manthani
No hotels within 5000 meters of adrar
No hotels within 5000 meters of taoudenni
No hotels within 5000 meters of san borja
No hotels within 5000 meters of banes

In [7]:
hot_df = pd.DataFrame({"city":hotel_df["city"].tolist(),"hotel_name":hotels})
hotel_df = pd.merge(hotel_df, hot_df,on="city")
hotel_df.head()

,city,cloudiness,date,country,humidity,lat,lng,max_temp,wind_speed,hotel_name
0,georgetown,20,1970-01-01,MY,79,5.41,100.34,86.00,5.82,"Eastern & Oriental Hotel, Penang"
1,sagua de tanamo,2,1970-01-01,CU,66,20.58,-75.24,76.78,4.61,NA
2,karratha,0,1970-01-01,AU,39,-20.74,116.85,84.79,14.76,ibis Styles Karratha
3,palu,6,1970-01-01,ID,65,-0.89,119.87,79.99,1.43,Swiss-Belhotel Palu
4,bosaso,8,1970-01-01,SO,68,11.28,49.18,82.22,7.52,Gacayte Hotel

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]
locations.head()

     lat     lng
0   5.41  100.34
1  20.58  -75.24
2 -20.74  116.85
3  -0.89  119.87
4  11.28   49.18

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel Name: {hotel}" for hotel in hotel_info])
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))